/**
 * Swagger for Utility Network
 * Open API Specification (OAS/Swagger)  * **trace**, **updateIsConnected** from the [ArcGIS Utility Network]( https://developers.arcgis.com/rest/services-reference/utility-network-service.htm) * **generateToken** from the [ArcGIS REST API](https://developers.arcgis.com/rest/)  Tested on ArcGIS  Enterprise 10.6.1 using [NSwagStudio](https://github.com/RSuter/NSwag/wiki/NSwagStudio) C# code gen . 
 *
 * OpenAPI spec version: 0.13
 * Contact: 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.TokenResponse
import io.swagger.client.model.TraceResultsSet
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UtilityNetworkServiceApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : TokenResponse (Status 200)
   * 
   * @param portalWebAdaptor 
   * @param username 
   * @param password 
   * @param expiration 
   * @param `f` 
   * @param ip 
   * @param referer 
   */
  def portalWebAdaptorSharingRestGenerateTokenPost(portalWebAdaptor: String, username: String, password: String, expiration: Double, `f`: String, ip: Option[String] = None, referer: Option[String] = None): ApiRequest[TokenResponse] =
    ApiRequest[TokenResponse](ApiMethods.POST, "https://t4e7j4g.restletmocks.net", "/{PortalWebAdaptor}/sharing/rest/generateToken", "application/x-www-form-urlencoded")
      .withFormParam("username", username)
      .withFormParam("password", password)
      .withFormParam("ip", ip)
      .withFormParam("referer", referer)
      .withFormParam("expiration", expiration)
      .withFormParam("f", `f`)
      .withPathParam("PortalWebAdaptor", portalWebAdaptor)
      .withSuccessResponse[TokenResponse](200)
        /**
   * Trace
   * 
   * Expected answers:
   *   code 200 : TraceResultsSet (OK)
   *   code 404 :  (Tracing endpoint not found {base}/UtilityNetworkServer/trace)
   * 
   * @param serverWebAdaptor 
   * @param utilityNetworkName 
   * @param token 
   * @param `f` Optional parameter representing the output format of the response (default is JSON).
   * @param traceType The trace type.
   * @param traceLocations ***Curently a workaround until figure out how to gen**The locations for starting and stopping points, as well as barriers. Optional parameter for subnetwork trace type, required parameter for all other trace types.
   * @param traceConfiguration The locations for starting and stopping points, as well as barriers. Optional parameter for subnetwork trace type, required parameter for all other trace types.
   * @param gdbVersion The name of the geodatabase version.
   * @param sessionId Optional parameter representing the token (guid) used to lock the version. If the calling client has previously started a service session (editing) and holds an exclusive lock on the specified version, the request will fail if the sessionId is not provided. If the specified version is currently locked by any other session, the request will fail if the sessionId is not provided or does not match the sessionId which holds the exclusive lock.
   * @param moment Optional parameter representing the session moment (the default is the version current moment). This should only be specified by the client when they do not want to use the current moment.
   */
  def trace(serverWebAdaptor: String, utilityNetworkName: String, token: String, `f`: String, traceType: String, traceLocations: String, traceConfiguration: String, gdbVersion: Option[String], sessionId: Option[String], moment: Option[String] = None): ApiRequest[TraceResultsSet] =
    ApiRequest[TraceResultsSet](ApiMethods.POST, "https://t4e7j4g.restletmocks.net", "/{ServerWebAdaptor}/rest/services/{UtilityNetworkName}/UtilityNetworkServer/trace", "application/x-www-form-urlencoded")
      .withFormParam("f", `f`)
      .withFormParam("gdbVersion", gdbVersion)
      .withFormParam("sessionId", sessionId)
      .withFormParam("moment", moment)
      .withFormParam("traceType", traceType)
      .withFormParam("traceLocations", traceLocations)
      .withFormParam("traceConfiguration", traceConfiguration)
      .withQueryParam("token", token)
      .withPathParam("ServerWebAdaptor", serverWebAdaptor)
      .withPathParam("UtilityNetworkName", utilityNetworkName)
      .withSuccessResponse[TraceResultsSet](200)
      .withErrorResponse[Unit](404)
      

}

